<%- include('partials/header', {title:"Club List"}) -%>

<h2>Club Directory</h2>
<ul>
<%for(let club of clubs) {%>
<li>
<a href="/clubPage/<%=club%>"><%=club%></a></li>


<% } %>
</ul>


<%- include('partials/footer') -%>
