<%- include('partials/header', {title:"Club List"}) -%>

<h2>Club Directory</h2>
<ul>
<%for(let i =0; i<clubs.length; i++){%>
<li>
<a href="/clubPage/<%=clubs[i]%>"><%=clubs[i]%></a></li>


<% } %>
</ul>


<%- include('partials/footer') -%>
