<%- include('partials/header', {title:"Control Account"}) -%>

<h2>Log In/Sign Up</h2>

<h4>Sign Up</h4>
<form action="/accountCreate" method="POST">
  <label for="name">Full Name:</label>
  <input type="text" id="name" name="full name" value=""><br>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" value=""><br>
  <label for="password">Password:</label>
  <input type="text" id="password" name="password" value=""><br>
  <input type="submit" value="Create Your Account!">
  <br><br>
</form>

<h4>Log In</h4>
<form action="/accountLogIn" method="POST">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" value=""><br>
  <label for="password">Password:</label>
  <input type="text" id="password" name="password" value=""><br>
  <input type="submit" value="Log In!">
  <br><br>
</form>

<%- include('partials/footer') -%>
