<%- include('partials/header', {title:"Create Opponent"}) -%>

<h2>Add A Club to the Site</h2>

<form action="/createClub" method="POST">
  <label for="name">Club Name:</label>
  <input type="text" id="name" name="clubName" value=""><br>
  <label for="category">Category:</label>
  <select id="category" name="category">
    <%for(let category of categories) {%>
      
    <option value = "<%=category%>"><%=category%></option>
    <% } %></select><br>
  <label for="photo">Student Leaders:</label>
  <input type="text" id="studentLeaders" name="studentLeaders" value=""><br>
  <label for="photo">Faculty Advisors:</label>
  <input type="text" id="advisors" name="advisors" value=""><br>
  <label for="photo">Club Description:</label>
  <input type="text" id="description" name="description" value=""><br>
  <br><br>
  <input type="submit" value="Add Your Club!">

</form>

<%- include('partials/footer') -%>
