<%- include('partials/header', {title:"Tiger Talks: Club Center"}) -%>

<h4> Welcome to the official site of the Trinity Talks: Club Center.</h4>
  <br>
  <br>
  <p>Coming to Trinity, it can be difficult to gain an understanding of the various club offerings at the school. Although Trinity provides brief descriptions of each club, the descriptions are often quite general and do not encapsulate the full scope of the club. Additionally, the descriptions are given in an email, which can be hard to find, and access. “Tiger Talks: Club Review” will provide older students with a platform to discuss and review clubs, giving new students an effective method of understanding the clubs and which ones would truly be appealing to them.
  </p>

  <%- include('partials/footer') -%>
