<%- include('partials/header', {title:"Trinity Talks: Club Review"}) -%>

<p> Welcome to the official site of the Trinity Talks: Club Review. Click around to explore or review a club!
  <br>
  <br>
  <a href="/play">Click to play a round of Paper, Rock, Scissors</a>

  <%- include('partials/footer') -%>
